/* src/components/Highlights1.css */
.highlights-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.highlights {
    width: 60%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.highlights h3 {
    color: #333;
}

.highlights ul {
    list-style-type: none;
    padding: 0;
}

.highlights li {
    margin: 10px 0;
    font-size: 16px;
}

.back-button {
    margin-top: 20px;
    padding: 8px 20px;
    border: none;
    background-color: #0073e6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
